
body{
    user-select: none;
}
.links .linksOption {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 35px;
    text-transform: capitalize;
    display: inline-block;
    line-height: 50px;
    height: 50px;
}

.selectLinkSpan{
    color: #2acb35;
}

.noSelectLinkSpan{
    color: #062a4d;
}

.links :hover {
    color: #2acb35;
    cursor: pointer;
}

.about span{
    padding: 5px;
    margin-top: 10px;
}
.infoDiv{
    width: 500px ;
    margin-top: 15px;
}
.infoDiv p{
    width: 127px;
    display: inline-block;
}
.infoDiv input{
    width: 350px;
    display: inline-block;
    height:25px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid gainsboro;
}
.infoDiv textarea{
    font-size: 16px;
    margin-left: 142px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    height: 90px;width: 350px;
}
.infoDiv input:hover{
    border: 1px solid #00d73a;
}
.infoDiv textarea:hover{
    border: 1px solid #00d73a;
}

.submitBtn:hover {
    background-color: white;
    cursor: pointer;
    color: #00d73a;
    font-weight: bold;
}

.submitBtn{
    border: 1px solid #00d73a ;width:500px;height: 40px;
    margin-top: 15px;color: white;background-color: #00d73a;
    border-radius: 50px;font-size: 16px;font-weight: bold;
    cursor: pointer;
}

.productType{
    width: 250px;
    height: 35px;
    display: inline-block;
}

.product p{
    display: inline-block;
    width: 190px;
    margin-left: calc(50% - 230px);
}

.productInfo{
    width: 100%;height: 170px;background-color: #f7f7f7;
}

.productTdImg{
    width:170px;height:170px;display: inline-block;
}

.productInfoDiv0{
    display: none;
}
.productInfoDiv1{
    width: 170px;
    height: 170px;
    display: inline-block;
    line-height: 170px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.productInfoDiv2{
    font-size: 17px;
    width: 25%;
    height: 170px;
    display: inline-block;
    line-height: 170px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.productInfoDiv3{
    font-size: 17px;
    width: 25%;
    height: 170px;
    display: inline-block;
    line-height: 170px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.productInfoDiv4{
    font-size: 17px;
    width: 10%;
    height: 170px;
    display: inline-block;
    line-height: 170px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.productInfoDiv5{
    font-size: 17px;
    width: 10%;
    height: 170px;
    display: inline-block;
    line-height: 170px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.productInfoDiv6{
    width: 120px;
    height: 170px;
    display: inline-block;
    line-height: 170px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.productTr{
    height: 170px;
    background-color: #F7F7F7;
}
.productTd0{
    display: none;
}

.productTd1{
    width: 170px;
}
.productTd2{
    width: 25%;
}
.productTd3{
    width: 25%;
}
.productTd4{
    width: 10%;
}
.productTd5{
    width: 10%;
}
.productTd6{
    width:120px;
}
#aboutUsBg{
    background: url('/img/aboutUsBg.png');
    margin:0;padding:0; repeat:no-repeat;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/aboutUsBg.png', sizingMethod=scale);
    -ms-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/aboutUsBg.png', sizingMethod=scale);
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}


#selectType{
    width:calc(100% - 45px);height: 150px;
}
#selectType>div{
    width:20%;height: 150px;display: inline;
}

    /*background: url('/img/logo.png');
    margin:0;padding:0; repeat:no-repeat;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/logo.png', sizingMethod=scale);
    -ms-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/logo.png', sizingMethod=scale);
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;*/