<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table {
            width: 480px;
            border-collapse:collapse;
        }
        table td {
            border: 1px #e6e6e6 solid;
        }
        table th {
            border: 1px #e6e6e6 solid;
            background-color: #F2F2F2;
        }
    </style>
</head>
<body style="height:500px;overflow: scroll;padding: 30px;text-align: center">
        <table style="width:100%;">

            <tr style="height: 40px">
                <th style="width: 10%">commit time</th>
                <th style="width: 10%">Name</th>
                <th style="width: 15%">Company</th>
                <th style="width: 15%">Contact Number</th>
                <th style="width: 10%">Email</th>
                <th style="width: 40%">Message</th>
            </tr>

           <!-- <tr class="">
                <td>2344324234234234234</td>
                <td>423423234234234234</td>
                <td>323423423423423423423423423</td>
                <td>122342342342342342342343</td>
                <td>123234234234</td>
                <td>122342342342342342342343</td>
            </tr>-->

        </table>
</body>
</html>